.badge{
    @apply
    inline-flex
    bg-gray-700
    rounded-full
    leading-loose
    text-center
    text-white
    text-xs
    shadow
    pr-3
    pl-2;
}
.badge *{
    @apply self-center;
}
.badge-red{
    @apply border-l-8 border-r-8 bg-red-600 border-red-700
}
.badge-gray{
    @apply border-l-8 border-r-8 bg-gray-700 border-gray-800
}
.badge-green{
    @apply border-l-8 border-r-8 bg-green-600 border-green-700
}
.badge-blue{
    @apply border-l-8 border-r-8 bg-blue-600 border-blue-700
}
.badge-indigo{
    @apply border-l-8 border-r-8 bg-indigo-600 border-indigo-700
}
.badge-purple{
    @apply border-l-8 border-r-8 bg-purple-600 border-purple-700
}
.badge-yellow{
    @apply border-l-8 border-r-8 bg-yellow-600 border-yellow-700
}
