
.brand{
    @apply mr-4 self-center cursor-pointer leading-none text-xl
}
.brand span:first-of-type{
    @apply text-white
}
.brand em:last-of-type{
    @apply text-blue-400
}
.brand small:last-of-type{
    @apply text-sm
}
