/*

#nprogress .bar {
    background: blue !important;
}
#nprogress .peg {
    box-shadow: 0 0 10px blue, 0 0 5px blue !important;
}
#nprogress .spinner-icon {
    border-top-color: red !important;
    border-left-color: red !important;
}
*/
