
.zoomInOut-enter-active {
    transition: all 90ms ease-in-out;
}
.zoomInOut-leave-active {
    transition: all 90ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.zoomInOut-enter, .zoomInOut-leave-to {
    transform: scale(1.1);
    opacity: 0;
}

.fadeInUp-enter-active {
    transition: all 90ms ease-in-out;
}
.fadeInUp-leave-active {
    transition: all 90ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fadeInUp-enter, .fadeInUp-leave-to {
    transform: translate3d(0, 20px, 0) !important;
    opacity: 0;
}

.fadeInDown-enter-active {
    transition: all 90ms ease-in-out;
}
.fadeInDown-leave-active {
    transition: all 90ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fadeInDown-enter, .fadeInDown-leave-to {
    transform: translate3d(0, -5px, 0) !important;
    opacity: 0;
}


.fadeInLeft-enter-active {
    transition: all 90ms ease-in-out;
}
.fadeInLeft-leave-active {
    transition: all 90ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fadeInLeft-enter, .fadeInLeft-leave-to {
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
}

.fadeInRight-enter-active {
    transition: all 90ms ease-in-out;
}
.fadeInRight-leave-active {
    transition: all 90ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fadeInRight-enter, .fadeInRight-leave-to {
    transform: translate3d(10px, 0, 0) !important;
    opacity: 0;
}

.fadeInOut-enter-active {
    transition: all 90ms ease-in-out;
}
.fadeInOut-leave-active {
    transition: all 90ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fadeInOut-enter, .fadeInOut-leave-to {
    opacity: 0;
}
