.page-title{
    @apply text-3xl text-blue-200 font-thin leading-none
}
.page-lead{
    @apply uppercase text-white font-bold
}
#main a:not(.btn){
    @apply text-blue-500 no-underline
}
#main a:hover:not(.btn){
    @apply text-blue-700
}
#main h1{
    font-size: 2.6em;
}
#main h2{
    font-size: 2.2em;
}
#main h3{
    font-size: 1.8em;
}
#main h4{
    font-size: 1.4em;
}
#main h5{
    font-size: 1.2em;
}
#main h6{
    font-size: 1.1em;
}
#main p,
#main ul,
#main ol,
#main blockquote {
    @apply my-1 mb-2 block
}
#main ul{
    @apply list-disc pl-4
}
#main ol{
    @apply list-decimal pl-4
}

.text-overflow-more {
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
